# Общие зависимости
SQLAlchemy~=2.0.37
openpyxl~=3.1.5
loguru~=0.7.3
patchright~=1.49.1
# playwright~=1.49.1
browserforge~=1.2.1
requests~=2.32.3
better-proxy
pillow
pynput

# Windows-специфичные зависимости (устанавливаются отдельно в install.py)
# pywin32>=223
# winshell